*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    padding-block: 20px;
}
.main-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   text-align: center;
}

/* NAVBAR  */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 60px;
}
.left-nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-nav ul{
    display: flex;
    gap: 30px;
}
.center-nav ul li{
    list-style: none;
}
.center-nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: 550;
}
.center-nav ul li a:hover{
    text-decoration: underline;
}
header .right-nav button{
    height: 37px;
    width: 108px;
    border: 2px solid #58FDB4;
    border-radius: 5px;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;;
}
.right-nav button:hover{
    background-color: rgb(222, 222, 222);
}

/* MAIN DATA  */

.main-image img{
    width: 100%;
    /* transform: translateX(-100%);
    transition: transform 1s ease; */
}

section h1{
    font-family: "Lilita One", sans-serif;
    font-size: 112px;
}
section p{
    font-size: 13px;
    padding-inline: 32%;
}
section button{
    height: 48px;
    width: 167px;
    font-size: 18px;
    font-weight: bold;
    background-color: #03FD8F;
    border: none;
    border-radius: 10px;
    margin-top: 23px;
    cursor: pointer;
}
section button:hover{
    background-color: #06e785;
}